@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror:focus {
  outline: none;
}

.ProseMirror h1 {
  @apply text-4xl font-bold;
}

.ProseMirror h2 {
  @apply text-3xl font-semibold;
}

.ProseMirror h3 {
  @apply text-2xl font-semibold;
}

.ProseMirror h4 {
  @apply text-xl font-medium;
}

.ProseMirror h5 {
  @apply text-lg font-medium;
}

.ProseMirror h6 {
  @apply text-base font-medium;
}





@layer base {
  :root {
    /* Backgrounds */
    --background: 0 0% 98% /* #F5F6FA */;
    --foreground: 213 30% 27% /* #32485D */;

    --card:  0 0% 98%; 
    --card-foreground: 213 30% 27%; 

    --popover: 0 0% 100%;
    --popover-foreground: 213 30% 27%;

    /* Brand Colors */
    --primary: 31 94% 66% /* #FAAB58 */;
    --primary-foreground: 213 30% 27%;

    --secondary: 31 100% 73% /* #FFBC75 */;
    --secondary-foreground: 213 30% 27%;

    /* States */
    --success: 145 63% 49% /* #2ECC71 */;
    --success-foreground: 0 0% 100%;

    --destructive: 5 74% 61% /* #E55F50 */;
    --destructive-foreground: 0 0% 100%;

    /* Neutrals */
    --muted: 213 15% 85%;
    --muted-foreground: 213 15% 45%;

    --accent: 213 15% 92%;
    --accent-foreground: 213 30% 27%;

    --border: 213 15% 85%;
    --input: 213 15% 85%;
    --ring: 213 30% 27%;

    /* Radius */
    --radius: 0.75rem;
  }

  .dark {
    --background: 220 12% 10% /* #1C1F26 */;
    --foreground: 210 20% 94% /* #E4E7EB */;

    --card: 220 10% 15% /* #252A33 */;
    --card-foreground: 210 20% 94%;

    --popover: 220 10% 15%;
    --popover-foreground: 210 20% 94%;

    --primary: 31 69% 59% /* #FAAB58 */;
    --primary-foreground: 210 20% 94%;

    --secondary: 31 100% 73% /* #FFBC75 */;
    --secondary-foreground: 210 20% 94%;

    --success: 145 63% 49% /* #2ECC71 */;
    --success-foreground: 0 0% 100%;

    --destructive: 5 74% 61% /* #E55F50 */;
    --destructive-foreground: 0 0% 100%;

    --muted: 220 10% 25%;
    --muted-foreground: 220 10% 70%;

    --accent: 220 10% 25%;
    --accent-foreground: 210 20% 94%;

    --border: 220 10% 25%;
    --input: 220 10% 25%;
    --ring: 210 20% 94%;

    --radius: 0.75rem;
  }

  
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
